body{
    background-color: rgb(112, 204, 169);
}
div{
    background-color: grey;
}
header img.logo{
    max-width: 200px;
    display:block;
    margin:0 auto;
}
header{
    background-color: black;
}
section .userInterface{
    padding: 30px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.inputContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
main{
    font-family: sans-serif;
    width: calc(75% - 48px);
    float: left;
    padding: 20px;
    background-color: lightgray;
    border: solid;
    border-color: lightsalmon;
    border-width: 2px;
}
aside{
    font-family: sans-serif;
    width: calc(25% - 48px);
    float: left;
    padding: 20px;
    background-color: lightgray;
    border: solid;
    border-color: lightsalmon;
    border-width: 2px;
}
@media only screen and (max-width: 900px){
    main, aside{
        float: none;
        width: calc(100% - 48px);
    }
}
.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imageContainer div{
    max-width:calc(25% - 20px);
    padding: 10px;
}
.imageContainer div img{
    max-width: 100%;
}

.hide{
    display: none;
}

.clicked{
    border:1px solid red;
}